/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}
* {font-family: Inter;}
/* HEADER */
#top-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1.5rem;
}
#top-header .siteName {
  display: flex;
  justify-content: left;
  font-size: 1.5rem;
}
.siteName a, #tools a {
  text-decoration: none;
  color: #212529;
}
#tools a {
  background-color: #212529;
  border: 1px solid yellow;
  color: #F8F9FA;
  padding: .1rem .5rem;
  border-radius: 10px;
  transition: transform .2s;
}
#tools a:hover {
  color: yellow;
  transform: scale(1.03);
}
#top-header #tools {
  display: flex;
  justify-content: right;
  align-items: end;
}

/* NAV */
#navLinks {display: none;}
#navLinks.open {
  display: flex;
  flex-direction: column;
  background-color: rgb(33, 37, 41, .95);
}
#navLinks.open li {
  padding: .8rem 0;
}
#hamburgerBtn {
  margin-left: 1rem;
  padding: .1rem .5rem;
  border: 2px solid yellow;
  background-color: #212529;
  border-radius: 5px;
}
#hamburgerBtn span:nth-child(1) {display: block; color: #F8F9FA}
#hamburgerBtn span:nth-child(2) {display: none;}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 1.5rem auto;
  padding: 0;
  justify-content: center;
  background-color: #212529;
}
nav li {
  padding: 1rem .1rem;
  margin: 0 .7rem;
  border-bottom: 2px solid yellow;
  border-radius: 2px;
}
nav a {
  color: #F8F9FA;
  text-decoration: none;
  transition: transform .2s;
}
nav a:hover {
  color: yellow;
  transform: scale(1.03);
}


/* INDEX */
#title {
  font-size: 1.5rem;
  margin: 3rem 0;
  text-align: center;
}
#img-banner {
  display: flex;
  justify-content: center;
  position: relative;
}
#img-banner img {max-width: 100%;}
#call-to-action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(33, 37, 41, .8 );
  position: absolute;
  float: left;
  top: 15%;
  left: 5%;
  padding: 1rem;
  color: white;
}
#call-to-action h1 {
  font-size: 1rem;
  margin: 0 0 .3rem 0;
}
#call-to-action ul {
  list-style-type: none;
  padding: 0;
  margin: 0 0 1rem 0;
}
#call-to-action li {
  margin: .1rem 0;
}
#call-to-action a {
  text-decoration: none;
  background-color: yellow;
  color: #212529;
  padding: .3rem .8rem;
  transition: transform .2s;
}
#call-to-action a:hover {transform: scale(1.03);}

/* REVIEWS */
#reviews {margin-top: 4rem;}
#reviews h1 {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}
#reviews li {margin: .4rem 0;}
#reviews ul {padding: 0; margin: 0 1rem;}

/* UPGRADES */
#upgrades {margin-top: 4rem;}
#upgrades h1 {
  font-size: 1.1rem;
  margin-bottom: 2rem;
}
#upgrades .container-upgrades {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 1rem;
}
#upgrades .box {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  flex-direction: column;
}
#upgrades .box .img-container {
  background-color: #212529;
  padding: .2rem;
}
#upgrades .box > a {
  margin: .2rem 0 1rem 0;
  padding: .1rem .5rem;
  text-decoration: none;
  align-items: center;
  text-align: center;
  color: black;
  border-bottom: 2px solid black;
  border-radius: 20px;
}

/* FOOTER */
footer {
  display: flex;
  justify-content: center;
  background-color: #212529;
  color: #F8F9FA;
  margin-top: 5rem;
}

/* --------- INVENTORY --------- */
#inv-title {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}
#inv-display {
  display: grid;
  grid-template-columns: 200px;
  justify-content: center;
  padding: 0;
}
#inv-display a img {
  width: 100%;
  border-radius: 15px;
}
#inv-display li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  padding: 1rem 1rem;
  border: 3px solid #212529;
  border-radius: 10px;
}
.namePrice {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.namePrice > h2 {
  font-size: 1rem;
  text-align: center;
}
.namePrice a {
  text-decoration: none;
  color: #212529;
}
.namePrice span {
  font-size: 1.1rem;
  padding: .2rem .5rem;
  text-align: center;
  background-color: rgba(33, 37, 41, .1);
  color: black;
  border-bottom: 2px solid #212529;
  border-radius: 0 0 10px 10px;
}

/* --------- DETAIL --------- */
#det-title {
  font-size: 1.5rem;
  text-align: center;
  margin: 3rem 0;
}
#det-img img {
  width: 100%;
  border-radius: 15px;
  border: 2px solid #212529;
}
#det-subtitle {
  font-size: 1.2rem;
}
#det-price, #det-mileage {
  text-align: center;
  margin: 0 auto;
  background-color: rgba(33, 37, 41, .1);
  color: black;
  padding: .3rem .7rem;
  
}
#det-description {
  margin: 2rem 0 1.5rem 0;
  font-size: 1.1rem;
}
#det-price {
  font-size: 1.3rem;
  padding: .3rem 1rem;
  border-bottom: 2px solid #212529;
  border-radius: 0 0 10px 10px;
}
@media screen and (min-width: 550px) {
  body {
    background-image: url('/images/site/checkerboard.jpg');
    margin: 3rem 2%;
    border: 4px solid yellow;
    border-radius: 15px;
  }
  #wrapper {
    background-color: white;
    padding: .1rem 1rem;
  }
  #hamburgerBtn {display: none;}
  #navLinks {display: flex;}
  #call-to-action {
    left: 13%;
  }
  #wrapper-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #upgrades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: 1;
    grid-row: 1;
    align-items: center;
  }
  #reviews {
    grid-column: 2;
    grid-row: 1;
  }
  #inv-display {
    grid-template-columns: 200px 200px;
    justify-content: center;
    column-gap: 3rem;
  }
}
@media screen and (min-width: 968px) {
  #inv-display {
    grid-template-columns: repeat(3, 200px);
  }
}