<% if (title) { %>
    <h1 id="manag-title"><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<% messages() %>
<div id='manag-display'>
  <a href="/inv/add-classification">Add new classification</a>
  <a href="/inv/add-inventory">Add new vehicle</a>
</div>
<script src='/js/script.js'></script>